@font-face {
    font-family: "Pokemon GB";
    src: url("fonts/pokemon-gb.ttf");
}

section{
	border: solid 3px transparent;
	padding: 15px;
	border-image: url("images/border.png") 30 round;
	background-color: black;
}

body{
	font-family: 'Arbutus', cursive;
	/*font-family: 'Pokemon GB', sans-serif;*/
	background-image: url("images/background.png");
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
}

h1{
	text-align: center;
	font-family: 'Pokemon GB', sans-serif;
}

#flex-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
}

.loading{
	width: 100px;
}

#avatar{
	border: solid 3px white;
	background-image: url("images/avatarbg.jpeg");
	background-size: cover;
	background-repeat: no-repeat;

}

#random-title{
	border: solid 3px white;
	width: 450px;
	text-align: center;
	margin-left: 57px;
	color: white;

}


#pokemon-list{
	display: flex;
}

#pokemon-one{
	border: solid 3px white;
	width: 200px;
	color: white;
}

#pokemon-two{
	border: solid 3px white;
	width: 200px;
	color: white;
}

#pokemon-three{
	border: solid 3px white;
	width: 200px;
	color: white;
}

#pokemon-one-img{
	display: block;
	margin-left: auto;
    margin-right: auto;
}

#pokemon-two-img{
	display: block;
	margin-left: auto;
    margin-right: auto;
}

#pokemon-three-img{
	display: block;
	margin-left: auto;
    margin-right: auto;
}

#pokemon-one-info{
	text-align: center;
}

#pokemon-two-info{
	text-align: center;
}

#pokemon-three-info{
	text-align: center;
}