/*@font-face {
	font-family: "Pokemon GB";
	src: url("css/fonts/Harabara.eot");
	src: 
	url("css/fonts/Harabara.woff") format("woff"),
	url("css/fonts/Harabara.otf") format("opentype"),
	url("css/fonts/Harabara.svg#filename") format("svg");
}*/

section{
	border: solid 3px transparent;
	padding: 15px;
	border-image: url("images/border.png") 30 round;
	background-color: black;
}

body{
	font-family: 'Arbutus', cursive;
	/*font-family: 'Pokemon GB'*/
	background-image: url("images/background.png");
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
}

h1{
	text-align: center;
	
}

#flex-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
}

#avatar{
	border: solid 3px white;
	background-image: url("images/avatarbg.jpeg");
	background-size: cover;
	background-repeat: no-repeat;

}

#random-title{
	border: solid 3px white;
	width: 450px;
	text-align: center;
	margin-left: 57px;
	color: white;
}


#pokemon-list{
	display: flex;
}

#pokemon-one{
	border: solid 3px white;
	width: 200px;
	color: white;
}

#pokemon-two{
	border: solid 3px white;
	width: 200px;
	color: white;
}

#pokemon-three{
	border: solid 3px white;
	width: 200px;
	color: white;
}